<div fxLayout="column">
  <div>
    <h1>Buscador de Héroes</h1>
    <mat-divider></mat-divider>
  </div>

  <div fxLayout="column">
    <mat-form-field>
      <mat-label>Buscar Héroe</mat-label>
      <input
        type="text"
        placeholder="Por favor ingrese nombre del Héroe"
        matInput
        [(ngModel)]="termino"
        [matAutocomplete]="auto"
        (input)="buscando()"
      />
      <mat-autocomplete
        autoActiveFirstOption
        #auto="matAutocomplete"
        (optionSelected)="opcionSeleccionada($event)"
      >
        <mat-option *ngFor="let heroe of heroes" [value]="heroe">
          {{ heroe.superhero }}
        </mat-option>
        <mat-option
          value=""
          *ngIf="heroes.length === 0 && termino.trim().length > 0"
        >
          <h3>No se encontro nada con el termino: {{ termino }}</h3>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <div *ngIf="textoVacio && !heroeSeleccionado">
      {{ textoVacio }}
    </div>
    <div *ngIf="heroeSeleccionado && termino === heroeSeleccionado.superhero">
      <pre>{{ heroeSeleccionado | json }} </pre>
    </div>

    <div *ngIf="heroeSeleccionado && termino === heroeSeleccionado.superhero">
      <app-heroe-tarjeta [heroe]="heroeSeleccionado"></app-heroe-tarjeta>
    </div>
  </div>
</div>
