
<mat-grid-list cols="1" *ngIf="!heroe; else divHeroe">
    <mat-grid-tile>
        <mat-spinner></mat-spinner>
    </mat-grid-tile>

</mat-grid-list>



<ng-template #divHeroe>
    <h1>Héroe {{heroe.superhero}} </h1>
</ng-template>



<!-- 
<mat-divider></mat-divider>
<br />

<div
  fxLayout="row wrap"
  fxLayout.xs="column"
  fxLayoutAlign="center"
  fxLayoutGap="20px"
>
  <div
    fxFlex="20"
    fxFlex.lg="15"
    fxFlex.sm="30"    
  >
    <app-heroe-tarjeta [heroe]="heroe"></app-heroe-tarjeta>

  </div>
</div>

-->
